#Postgres DB
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=
#JWT
JWT_SECRET=
#REDIS
REDIS_URL=
#Backend Port
PORT=
CORS_ORIGIN=
VERIFICATION_CODE_TTL=
GOOGLE_MAPS_API_KEY=
#Brevo (Sendinblue) API Key and sender details
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_SIGNED_URL_TTL
GROQ_API_KEY=
GROQ_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
GROQ_FALLBACK_MODELS=gpt-oss-20b,qwen/qwen3-32b
GROQ_MAX_RETRIES_PER_MODEL=2